#map{
	width:100%;
	height:500px;
	background-color:#333;
}

/******************************************************************
Contact List
******************************************************************/
ul.contacts-list{
	margin:40px 0 40px 0;
	padding:0 0 0 0;

	li.contact{
		background: #FFF;
		border-bottom:1px solid #CCC;
		margin:0 10px 14px 0;
		padding:18px;
		display: inline-block;

		h2{
			margin:0;
			font-size:36px;
			line-height: 37px;
		}
		h3{
			margin-top: 0;
			font-size:16px;
			line-height: 15px;
		}
		p{
			margin:0;
			padding:0;
		}
		
	}
}

.footer{
	ul.contacts-list{
		text-align: left;
		margin-top: 0;
		vertical-align: top;
		width: 100%;

		li.contact{
			vertical-align: top;
			padding:0 30px 10px 0;
			border:none;
		}
	}
}